@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.625rem;
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.922%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.922%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.922%);
    --primary: hsl(205.385 100% 30.588%);
    --primary-foreground: hsl(0 0% 98.039%);
    --secondary: hsl(0 0% 96.078%);
    --secondary-foreground: hsl(0 0% 9.02%);
    --muted: hsl(0 0% 96.078%);
    --muted-foreground: hsl(0 0% 45.098%);
    --accent: hsl(0 0% 96.078%);
    --accent-foreground: hsl(0 0% 9.02%);
    --destructive: hsl(357.143 100% 45.294%);
    --border: hsl(0 0% 89.804%);
    --input: hsl(0 0% 89.804%);
    --ring: hsl(205.385 100% 30.588%);
    --chart-1: hsl(17.878 100% 48.039%);
    --chart-2: hsl(174.8 100% 29.412%);
    --chart-3: hsl(195.714 72.414% 22.745%);
    --chart-4: hsl(43.529 100% 50%);
    --chart-5: hsl(36.378 100% 49.804%);
    --sidebar: hsl(0 0% 98.039%);
    --sidebar-foreground: hsl(0 0% 3.922%);
    --sidebar-primary: hsl(205.385 100% 30.588%);
    --sidebar-primary-foreground: hsl(0 0% 98.039%);
    --sidebar-accent: hsl(0 0% 96.078%);
    --sidebar-accent-foreground: hsl(0 0% 9.02%);
    --sidebar-border: hsl(0 0% 89.804%);
    --sidebar-ring: hsl(205.385 100% 30.588%);
}

.dark {
    --background: hsl(0 0% 3.922%);
    --foreground: hsl(0 0% 98.039%);
    --card: hsl(0 0% 9.02%);
    --card-foreground: hsl(0 0% 98.039%);
    --popover: hsl(0 0% 9.02%);
    --popover-foreground: hsl(0 0% 98.039%);
    --primary: hsl(0 0% 89.804%);
    --primary-foreground: hsl(0 0% 9.02%);
    --secondary: hsl(0 0% 14.902%);
    --secondary-foreground: hsl(0 0% 98.039%);
    --muted: hsl(0 0% 14.902%);
    --muted-foreground: hsl(0 0% 63.137%);
    --accent: hsl(0 0% 14.902%);
    --accent-foreground: hsl(0 0% 98.039%);
    --destructive: hsl(358.839 100% 69.608%);
    --border: hsl(0 0% 100% / 10%);
    --input: hsl(0 0% 100% / 15%);
    --ring: hsl(0 0% 45.098%);
    --chart-1: hsl(225.429 84% 49.02%);
    --chart-2: hsl(159.894 100% 36.863%);
    --chart-3: hsl(36.378 100% 49.804%);
    --chart-4: hsl(273.405 100% 63.725%);
    --chart-5: hsl(345.471 100% 56.275%);
    --sidebar: hsl(0 0% 9.02%);
    --sidebar-foreground: hsl(0 0% 98.039%);
    --sidebar-primary: hsl(225.429 84% 49.02%);
    --sidebar-primary-foreground: hsl(0 0% 98.039%);
    --sidebar-accent: hsl(0 0% 14.902%);
    --sidebar-accent-foreground: hsl(0 0% 98.039%);
    --sidebar-border: hsl(0 0% 100% / 10%);
    --sidebar-ring: hsl(0 0% 45.098%);
}

@theme inline {
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }

    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
